<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('parts/header.ejs') %> 
    </head>
<body>
    <header>
      <%- include('parts/main-page-nav') %> 
    </header>
    <main >
        <div class="container-md sign-in-content">
            <h1>404 not found</h1>
    </main>  
</body>
</html>